[Desktop Entry]
Name=Reya Organoid Counter
Exec=Insert your path to launch_gui.sh
Icon=applications-science
Terminal=True
Type=Application
Categories=Science;Education;
